.restaurant-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  max-height: 230px;
  transition: linear 0.2s;
  cursor: pointer;
  &__background-img {
    width: 100%;
    object-fit: cover;
    z-index: 2;
    max-height: 130px;
  }
  &__icon {
    display: flex;
    width: 86px;
    height: 86px;
    position: absolute;
    left: 6%;
    background-color: white;
    border-radius: 70px;
    z-index: 3;
    align-self: center;
    align-items: center;
    justify-content: center;
    &__image {
      width: 88%;
      height: 88%;
      object-fit: cover;
      border-radius: 70px;
    }
  }
  &__description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
}

.restaurant-card:hover {
  transform: scale(1.1);
  transition: linear 0.2s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
