.MuiInput-underline:before {
  border-bottom: 2px solid #979797 !important;
  margin-top: 0px !important;
}

.MuiInput-underline:after {
  background-color: turquoise;
}

.MuiFormHelperText-root {
  font-family: $inter-regular !important;
  margin-left: 0px !important;
}

.input-loading {
  height: 15px !important;
  width: 15px !important;
}

.MuiInput-input:focus {
  background-color: rgba(190, 190, 190, 0.06);
}

.MuiOutlinedInput-root {
  border-radius: 12px;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #800000;
}
