.restaurants-horizontal {
  z-index: 10;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden !important;
  ::-webkit-scrollbar {
    opacity: 0 !important;
    height: 0 !important;
  }
}

.restaurants-vertical {
  width: 100%;
  overflow: hidden !important;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}
