button {
  &:focus {
    outline: 0px !important;
  }
}

input {
  font-family: "Inter Regular" !important;
}

input {
  font-family: "Inter Regular" !important;
}

body {
  background-color: $background;
  overflow-y: hidden !important;
}

footer {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  z-index: 20;
  bottom: 0;
  padding: 0.5rem 0;
  background-color: #fff;
  box-shadow: 0px -2px 6px #00000026 !important;
}

main {
  overflow-y: hidden !important;
  position: relative;
  width: 100vw !important;
  overflow-x: hidden !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 2rem;
}

.pd-sides {
  padding-left: 6rem;
  padding-right: 6rem;
  @media screen and (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.status-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.row-min {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  height: min-content;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.content-end {
  align-content: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

hr.solid {
  border-top: 1px solid;
  margin: 0;
}

.shadow {
  box-shadow: 0px 2px 6px #00000026 !important;
}

.animate-fade {
  animation: fadeInAnimation ease-in 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #b5b5b5;
}

::-webkit-scrollbar-thumb {
  background: #858585;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575757;
}
